<a href="https://colab.research.google.com/github/YounSooKimTech/Greg_Python/blob/main/LogisticRegression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Logistic Regression Easy Example

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm
import statsmodels.formula.api as smf

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [19]:
hours = [0.5, 0.75, 1, 1.5, 1.75, 1.75, 2 , 2.25, 2.5, 2.75, 3, 3.25, 3.5, 4, 4.25, 4.5, 4.75, 5, 5.5 ]
len(hours)

19

In [24]:
pass_exam = [0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,1]
len(pass_exam)

19

In [34]:
df = pd.DataFrame({"hours":hours, "pass_exam":pass_exam})
df

    hours  pass_exam
0    0.50          0
1    0.75          0
2    1.00          0
3    1.50          0
4    1.75          0
5    1.75          1
6    2.00          0
7    2.25          1
8    2.50          0
9    2.75          1
10   3.00          0
11   3.25          1
12   3.50          0
13   4.00          1
14   4.25          1
15   4.50          1
16   4.75          1
17   5.00          1
18   5.50          1

In [36]:
log_reg = sm.formula.logit(formula = "pass_exam ~ hours", data=df).fit()
print(log_reg.summary())

Optimization terminated successfully.
         Current function value: 0.416754
         Iterations 7
                           Logit Regression Results
==============================================================================
Dep. Variable:              pass_exam   No. Observations:                   19
Model:                          Logit   Df Residuals:                       17
Method:                           MLE   Df Model:                            1
Date:                Thu, 23 Jun 2022   Pseudo R-squ.:                  0.3975
Time:                        12:40:29   Log-Likelihood:                -7.9183
converged:                       True   LL-Null:                       -13.143
Covariance Type:            nonrobust   LLR p-value:                  0.001226
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     -3.8839      1.782     -2.180      0.029      -7.377      -0.391
hours          1.4469      0.629      2.302      0.021       0.215       2.679
==============================================================================

In [44]:
np.exp(log_reg.params)

Intercept    0.020570
hours        4.249909
dtype: float64

In [46]:
# when hours = 1


log_odds = -3.8839 + 1.4469 * 1
print(log_odds)

odds = np.exp(log_odds)
print(odds)

proba = 1 / (1+np.exp(-log_odds))
print(proba)

-2.4370000000000003
0.08742272663271697
0.08039442664898844

In [48]:
log_reg.predict(df["hours"])

0     0.040680
1     0.057392
2     0.080392
3     0.152700
4     0.205567
5     0.205567
6     0.270886
7     0.347872
8     0.433722
9     0.523743
10    0.612247
11    0.693916
12    0.764987
13    0.870306
14    0.905970
15    0.932586
16    0.952067
17    0.966123
18    0.983275
dtype: float64

In [67]:
# Logistic Regression with sklearn library (ML)

from sklearn.linear_model import LogisticRegression

X = df[["hours"]]
y = df[["pass_exam"]]

log_reg2 = LogisticRegression(penalty="none")
log_reg2.fit(X, y)

print(log_reg2.intercept_)
print(log_reg2.coef_)

print(log_reg2.predict(df[["hours"]]))

print(log_reg2.predict_proba(df[["hours"]])[:, 1])

[-3.88392126]
[[1.44688148]]
[0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1]
[0.0406803  0.05739121 0.08039149 0.15269749 0.2055634  0.2055634
 0.27088081 0.34786482 0.43371311 0.52373286 0.61223654 0.69390585
 0.76497728 0.87029896 0.90596427 0.93258202 0.95206401 0.96612075
 0.98327406]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)